  
 /*******************************************************************************

* CSS Styles for the TagsBar                         *

******************************************************************************/
   
  .tags-bar {
    -fx-background-color:white;
    -fx-background-radius:10.0px;   
    -fx-min-height: 45.0;
    /*-fx-alignment:center-right;*/
    -fx-spacing: 3.0px;
    -fx-padding: 3.0px;
 }

 .tags-bar .tag {
    -fx-background-color:black;
    -fx-background-radius:3.0px;   
    -fx-alignment: center;
    -fx-padding:1.0px;
    -fx-cursor:hand;
 }
 
  .tags-bar .tag .label{	
  	-fx-text-fill:white;
  	-fx-font-size:14.0px;
  }
  
   
   